<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <!-- CONTENT -->
    <div class="content" layout="column">
        <div class="md-title mt-10">Novo Modelo</div>
        <div class="pb-16">Informe o tipo e o nome do modelo a ser criado</div>
        <div layout="row">
            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="100">
                <form name="formularioModelo" ng-submit="vm.criarModelo()" class="md-inline-form">
                    <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-input-container flex>
                            <label for="tipoModelo">Tipo do modelo</label>
                            <md-select ng-model="vm.tipoModelo" id="tipoModelo">
                                <md-option></md-option>
                                <md-option ng-repeat="tipoModelo in vm.tiposModelo" value="{{tipoModelo.id}}">
                                    {{tipoModelo.descricao}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="nomeModelo">Nome do modelo</label>
                            <input ng-model="vm.nomeModelo" id="nomeModelo" class="ng-pristine ng-valid md-input ng-not-empty" aria-invalid="false">
                        </md-input-container>
                    </div>
                    <md-button type="submit" class="md-raised md-accent" id="btnCriarModelo" aria-label="Criar Modelo" ng-disabled="formularioModelo.$invalid || formularioModelo.$pristine">
                        Criar
                    </md-button>
                      
                </form>
            </div>
            <!-- / BASIC FORM -->
        </div>
    </div>
    <!-- / CONTENT -->
</div>