<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">
    <stf-header path="vm.path"> </stf-header>
    
    <!-- CONTENT -->
    <div class="content" layout="column">
        <div class="md-title mt-10">Editar Modelo</div>
        <div class="pb-16">Edite o de modelo</div>
        <div layout="row">
            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="100">
                <form name="formularioModelo" ng-submit="vm.editarModelo()" class="md-inline-form" stf-processing>
                    <div layout="column" layout-gt-xs="row" class="layout-gt-xs-row">
                        <md-input-container flex>
                            <label for="tipoDocumento">Tipo do documento</label>
                            <md-select ng-model="vm.tipoDocumento" id="tipoDocumento">
                                <md-option></md-option>
                                <md-option ng-repeat="tipoDocumento in vm.tiposDocumento" value="{{tipoDocumento.id}}">
                                    {{tipoDocumento.descricao}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex>
                            <label for="nomeModelo">Nome do modelo</label>
                            <input ng-model="vm.nomeModelo" id="nomeModelo" class="ng-pristine ng-valid md-input ng-not-empty" aria-invalid="false">
                        </md-input-container>
                    </div>
                    <md-button type="submit" class="md-raised md-accent" id="btnEditarModelo" aria-label="Editar Modelo" ng-disabled="formularioModelo.$invalid">
                        Salvar
                    </md-button>
                      
                </form>
            </div>
            <!-- / BASIC FORM -->
        </div>
    </div>
    <!-- / CONTENT -->
</div>